.header{
    background-color: rgb(27, 196, 162);
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#img1{
    height: 400px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
b{
    font-size: 40px;
}
h2{
    color: rgb(28, 19, 129);
    font-size: 25px;
    
    padding: 5px;
}
body{
    background-color: rgb(235, 233, 229);
}
pre{
    font-size: 15px;
}