.header {
    background-color: rgb(195, 189, 15);
    color: rgb(62, 55, 55);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

b{
    font-size: 40px;
}
#img1{
    width:1000px;
    height: 500px;
    /* center this image*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5px;
}
pre{
    font-size: 15px;
}
h2{
    color: rgb(28, 19, 129);
    font-size: 25px;
    
    padding: 5px;
}
body{
    background-color: rgb(235, 233, 229);
}