.header {
    background-color: rgb(27, 94, 133);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    display: flex;
}

b {
    font-size: 30px;
    color: rgb(28, 31, 32);
}

body {
    background-color: rgb(235, 233, 229);
    background-size: cover;
}

.ha {
    color: rgb(201, 210, 217);
    font-size: 20px;
}

h2 {
    color: rgb(28, 19, 129);
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

#img1 {
    width: 1000px;
    height: 500px;
    /* center this image*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2px;
}

#img2 {
    width: 800px;
    height: 500px;
    /* center this image*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2px;
}

#img3 {
    width: 800px;
    height: 500px;
    /* center this image*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2px;
}

#img4 {
    width: 800px;
    height: 500px;
    /* center this image*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2px;
}

#img5 {
    width: 800px;
    height: 500px;
    /* center this image*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2px;
}

#img6 {
    width: 800px;
    height: 500px;
    /* center this image*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2px;
}

#img7 {
    width: 800px;
    height: 500px;
    /* center this image*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2px;
}

#img8 {
    width: 800px;
    height: 500px;
    /* center this image*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2px;
}

.footer {
    background-color: #524e4e;
    color: #fff;
    text-align: center;
    margin-left: 0px;
    padding: 20px;
    width: 100%;
}

.icons {
    margin-bottom: 20px;
}

.social {
    width: 40px;
    height: 15px;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
}

.footer-nav {
    background-color: rgb(0, 0, 0);
    color: rgb(16, 108, 108);
    font-size: 14px;
    text-align: center;
}

.footer-copy {
    text-align: center;
    background-color: black;
}